body {
    margin: 0px;
    background: #f8e6ce;
    font-family: Calibri;
    color: #191919;
}

table {
    width: 100%;
    height: 100%;
    font-size: 12pt;
}

table tr {

}

table td {
    text-align: center;
    text-align-last: center;
    horiz-align: center;
    vertical-align: center;

    border-left: 1px dashed #77583c;
    border-top: 1px dotted #77583c;
}

#textTower {
    position: absolute;
    overflow: paged-y;
    left: 30%;
    right: 30%;
    top: 50px;
    height: 500px;
    overflow: hidden;
    background: #fdf6ec;
    border: 2px inset #77583c;
}

#textArea {
    border: none;
    margin: 0px;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 600px;
    height: 100px;
    width: 39.7%;
    resize: none;
    overflow: hidden;
    background: #fffaba;
}

.buttonsBox {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 720px;
    height: 50px;
}

.buttonGame {
    position: relative;
    width: 45%;
    height: 50px;
    border: 0;
    background-color: #f7b9ba;
}

.buttonGame:hover {
    color: #3f0311;
    background-color: #df9a90;
}

.buttonGame.left {
    float: left;
}

.buttonGame.right {
    float: right;
}